<style>
  body {
    background: #0071b5;
    margin: 0;
  }
  header, footer {
    color: #fff;
    height: 5vh;
  }
  header h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 50px;
    height: 78vh;
  }
  .project-icon {
    background-color: #fff;
    border-radius: 100px;
    display: block;
    padding:25px;
  }
  .project-icon img {
    display: block;
    margin: auto;
    width: 120px;
  }

  /* irregulars */
  a[href="/about/underscore"] {
    background-color: #f8f8f8;
  }

  a[href="/about/backbone"] img {
    width: 95px;
    padding: 0 15px;
  }

  a[href="/about/http-server"] img {
    width: 100px;
    padding: 10px;
  }

  a[href="/about/browserify"],
  a[href="/about/tinyify"],
  a[href="/about/watchify"] {
    padding: 35px 25px;
  }
</style>

<div class="projects">
  <% _.each(projectList, function(item) { %>
    <div class="project">
      <a title="<%= item.project_name %>" class="project-icon" data-backbone-route href="<%= item.local_url %>">
        <img width="90" src="<%= item.logo %>" alt=""/>
      </a>
    </div>
  <% }) %>
</div>
