 <%= details.id %><br>
  <%= details.project_name %><br>
  <%= details.description %><br>
  <%= details.homepage %><br>
  <%= details.author %><br>
  <img src="<%= details.avatar %>" alt="" /><br>
    <img src="<%= details.logo %>" alt="" /><br>