<style>
footer {
  padding: 1em;
  text-align: center;
}
</style>

<p>This is an opinionated and basic backbonejs example. No jQuery, only templates, and separate views into pages and components.</p>
